<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#DB0000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"/>
    <link rel="manifest" href="./app.webmanifest">
            
    <title>Restaurant Apps</title>
    <link rel="shortcut" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <header class="header">
      <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>
      <div class="navbar">
          <div class="logo">
              <img src="./images/logo/logo-web.png" width="130px" alt="Logo"/>
          </div>
          <!-- Tempat Hamburger -->
          <div id="hamburger" class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <!-- Navigas Menu -->
          <nav id="navigationDrawer">
              <ul>
                  <li><a href="#/now-playing">Home</a></li>
                  <li><a href="#/upcoming">Favorite</a></li>
                  <li><a href="https://www.linkedin.com/in/andra-juansa/" target="_blank">About Us</a></li>
              </ul>
          </nav>
      </div>
  </header>
  <!-- Tempat Hero -->
  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Wellcome to Restaurant</h1>
      <p class="hero_line">
        Kami menyediakan makanan Indonesia dan Menu Nusantara
      </p>
    </div>
  </div>
  
  <main id="mainContent" tabindex="0>
      <section class="content">
          <article class="headline">
              <div class="headline_content">
                  <h1 class="headline_title">Explore Restaurant</h1>
                  <p class="headline_sub">Restaurant Favorite</p>
              </div>
          </article>
          <div class="list">
              <div class="post">
                  <!-- <div id="restaurantList"></div> -->
              </div>
          </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Andra Juansa. EcoFood</p>
    </footer>
  </body>
</html>
